<div>
    <div class="university-btns">
        <button (click)="showData('Professors')">Show Professors</button>
        <button (click)="showData('Students')">Show Students</button>
        <button (click)="showData('Grades')">Show Grades</button>
    </div>
    <div class="export-btn">
        <button (click)="exportData()">Export</button>
    </div>
</div>

<div *ngIf="selectedCategory === 'Professors' && data['Professor']">
    <div *ngFor="let professor of data['Professor']">
        <h3>{{ professor.attributes.Name.value }} {{ professor.attributes.LastName.value }}</h3>
        <ul>
            <li *ngFor="let attribute of keyValue(professor.attributes)">
                <span *ngIf="attribute.value.known; else unknownAttr">
                    {{ attribute.key }}: <input type="text" value="{{ attribute.value.value }}" [attr.data-attribute]="attribute.key" [attr.data-known]="attribute.value.known">
                </span>
                <ng-template #unknownAttr>
                    <span>{{ attribute.key }}: <input type="text" value="{{ attribute.value.value }}" [attr.data-attribute]="attribute.key" [attr.data-known]="attribute.value.known" readonly> /></span>
                </ng-template>
            </li>
        </ul>
    </div>
    <button (click)="saveData('Professors')">Save Professors</button>
</div>

<div *ngIf="selectedCategory === 'Students' && data['Student']">
    <div *ngFor="let student of data['Student']">
        <h3>{{ student.attributes.StudentName.value }} {{ student.attributes.StudentLastName.value }}</h3>
        <ul>
            <li *ngFor="let attribute of keyValue(student.attributes)">
                <span *ngIf="attribute.value.known; else unknownAttr">
                    {{ attribute.key }}: <input type="text" value="{{ attribute.value.value }}" [attr.data-attribute]="attribute.key" [attr.data-known]="attribute.value.known">
                </span>
                <ng-template #unknownAttr>
                    <span>{{ attribute.key }}: <input type="text" value="{{ attribute.value.value }}" [attr.data-attribute]="attribute.key" [attr.data-known]="attribute.value.known" readonly /></span>
                </ng-template>
            </li>
        </ul>
        <div *ngIf="student.children?.Pets">
            <h4>Pets</h4>
            
            <div *ngIf="student.children.Pets.attributes">
                <div *ngFor="let attribute of keyValue(student.children.Pets.attributes)">
                    <span *ngIf="attribute.value.known; else unknownAttr">
                        {{ attribute.key }}: <input type="text" value="{{ attribute.value.value }}" [attr.data-attribute]="attribute.key" [attr.data-known]="attribute.value.known">
                    </span>
                    <ng-template #unknownAttr>
                        <span>{{ attribute.key }}: <input type="text" value="{{ attribute.value.value }}" [attr.data-attribute]="attribute.key" [attr.data-known]="attribute.value.known" readonly /></span>
                    </ng-template>
                </div>
            </div>

            <div *ngIf="student.children.Pets.children.Pet.attributes; else morePets">
                <div *ngFor="let attribute of keyValue(student.children.Pets.children.Pet.attributes)">
                    <span *ngIf="attribute.value.known; else unknownAttr">
                        {{ attribute.key }}: <input type="text" value="{{ attribute.value.value }}" [attr.data-attribute]="attribute.key" [attr.data-known]="attribute.value.known">
                    </span>
                    <ng-template #unknownAttr>
                        <span>{{ attribute.key }}: <input type="text" value="{{ attribute.value.value }}" [attr.data-attribute]="attribute.key" [attr.data-known]="attribute.value.known" readonly /></span>
                    </ng-template>
                </div>
            </div>
            <ng-template #morePets>
                <ol>
                    <li *ngFor="let pets of student.children.Pets.children.Pet">
                        <div *ngFor="let pet of keyValue(pets.attributes)">
                            <span *ngIf="pet.value.known; else unknownAttr">
                                {{ pet.key }}: <input type="text" value="{{ pet.value.value }}" [attr.data-attribute]="pet.key" [attr.data-known]="pet.value.known">
                            </span>
                            <ng-template #unknownAttr>
                                <span>{{ pet.key }}: <input type="text" value="{{ pet.value.value }}" [attr.data-attribute]="pet.key" [attr.data-known]="pet.value.known" readonly /></span>
                            </ng-template>
                        </div>
                    </li>
                </ol>
            </ng-template>
        </div>
    </div>
    <button (click)="saveData('Students')">Save Students</button>
</div>

<div *ngIf="selectedCategory === 'Grades' && data['Grade']">
    <div *ngFor="let grade of data['Grade']">
        <h3>Grade ID: {{ grade.attributes.Id.value }}</h3>
        <ul>
            <li *ngFor="let attribute of keyValue(grade.attributes)">
                <span *ngIf="attribute.value.known; else unknownAttr">
                    {{ attribute.key }}: <input type="text" value="{{ attribute.value.value }}" [attr.data-attribute]="attribute.key" [attr.data-known]="attribute.value.known">
                </span>
                <ng-template #unknownAttr>
                    <span>{{ attribute.key }}: <input type="text" value="{{ attribute.value.value }}" [attr.data-attribute]="attribute.key" [attr.data-known]="attribute.value.known" readonly /></span>
                </ng-template>
            </li>
        </ul>
    </div>
    <button (click)="saveData('Grades')">Save Grades</button>
</div>