<div>
    <button (click)="showData('Professors')">{{ xmlData?.Professors.attributes.Comment }}</button>
    <button (click)="showData('Students')">{{ xmlData?.Students.attributes.Comment }}</button>
    <button (click)="showData('Grades')">{{ xmlData?.Grades.attributes.Comment }}</button>
</div>

<div *ngIf="selectedCategory === 'Professors' && xmlData?.Professors">
    <div *ngFor="let professor of xmlData.Professors.children?.Professor">
        <h3 *ngIf="professor.attributes.Name.known && professor.attributes.LastName.known; else unknownAttr">
            {{ professor.attributes.Name.value }} {{ professor.attributes.LastName.value }}
        </h3>
        <ng-template #unknownAttr>
            <h3>{{ professor.attributes.Name }} {{ professor.attributes.LastName }}</h3>
        </ng-template>
        <ul>
            <li *ngFor="let attribute of keyValue(professor.attributes)">
                <span *ngIf="attribute.value.known; else unknownAttr">
                    {{ attribute.key }}: <input type="text" value="{{ attribute.value.value }}">
                </span>
                <ng-template #unknownAttr>
                    <span>{{ attribute.key }}: {{ attribute.value }}</span>
                </ng-template>
            </li>
        </ul>
    </div>
</div>

<div *ngIf="selectedCategory === 'Students' && xmlData?.Students">
    <div *ngFor="let student of xmlData.Students.children?.Student">
        <h3 *ngIf="student.attributes.StudentName.known && student.attributes.StudentLastName.known; else unknownAttr">
            {{ student.attributes.StudentName.value }} {{ student.attributes.StudentLastName.value }}
        </h3>
        <ng-template #unknownAttr>
            <h3>{{ student.attributes.StudentName }} {{ student.attributes.StudentLastName }}</h3>
        </ng-template>
        <ul>
            <li *ngFor="let attribute of keyValue(student.attributes)">
                <span *ngIf="attribute.value.known; else unknownAttr">
                    {{ attribute.key }}: <input type="text" value="{{ attribute.value.value }}">
                </span>
                <ng-template #unknownAttr>
                    <span>{{ attribute.key }}: {{ attribute.value }}</span>
                </ng-template>
            </li>
        </ul>
        <div *ngIf="student.children?.Pets">
            <h4>Pets</h4>
            
            <div *ngIf="student.children.Pets.attributes">
                <div *ngFor="let attribute of keyValue(student.children.Pets.attributes)">
                    <span *ngIf="attribute.value.known; else unknownAttr">
                        {{ attribute.key }}: <input type="text" value="{{ attribute.value.value }}">
                    </span>
                    <ng-template #unknownAttr>
                        <span>{{ attribute.key }}: {{ attribute.value }}</span>
                    </ng-template>
                </div>
            </div>

            <div *ngIf="student.children.Pets.children.Pet.attributes; else morePets">
                <div *ngFor="let attribute of keyValue(student.children.Pets.children.Pet.attributes)">
                    <span *ngIf="attribute.value.known; else unknownAttr">
                        {{ attribute.key }}: <input type="text" value="{{ attribute.value.value }}">
                    </span>
                    <ng-template #unknownAttr>
                        <span>{{ attribute.key }}: {{ attribute.value }}</span>
                    </ng-template>
                </div>
            </div>
            <ng-template #morePets>
                <ol>
                    <li *ngFor="let pets of student.children.Pets.children.Pet">
                        <div *ngFor="let pet of keyValue(pets.attributes)">
                            <span *ngIf="pet.value.known; else unknownAttr">
                                {{ pet.key }}: <input type="text" value="{{ pet.value.value }}">
                            </span>
                            <ng-template #unknownAttr>
                                <span>{{ pet.key }}: {{ pet.value }}</span>
                            </ng-template>
                        </div>
                    </li>
                </ol>
            </ng-template>
        </div>
    </div>
</div>

<div *ngIf="selectedCategory === 'Grades' && xmlData?.Grades">
    <div *ngFor="let grade of xmlData.Grades.children?.Grade">
        <h3 *ngIf="grade.attributes.Id.known; else unknownAttr">
            Grade ID: {{ grade.attributes.Id.value }}
        </h3>
        <ng-template #unknownAttr>
            <h3>Grade ID: {{ grade.attributes.Id }}</h3>
        </ng-template>
        <ul>
            <li *ngFor="let attribute of keyValue(grade.attributes)">
                <span *ngIf="attribute.value.known; else unknownAttr">
                    {{ attribute.key }}: <input type="text" value="{{ attribute.value.value }}">
                </span>
                <ng-template #unknownAttr>
                    {{ attribute.key }}: {{ attribute.value }}
                </ng-template>
            </li>
        </ul>
    </div>
</div>
